# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build
dist/
build/

# SQLite databases
*.db
*.db-journal
*.db-shm
*.db-wal

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini
